.main{
    margin: 0 auto;
    border: 3px solid lightblue;
    width: 250px;
    height: 215px;
    background-color: lightskyblue;
    border-radius: 10px;
}

.result{
    width: 97%;
    background-color: lightseagreen;
    color:white;
    height: 35px;
    border-radius: 12px;
}


.level1{
    width: 48%;
    justify-content: center;
    margin-top: 10px;
    margin-left: 2px;

}

.level2{
    width: 44px;
    margin-left: 2px;

}
.level5{
    margin-left: 2px;
}
button{
    height: 30px;
    border-radius: 12px;
    color: white;
    background-color: lightblue;
    margin-top: 2px;
    font-size: medium;
}
